{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [2, 2],
    "linebreak-style": [2,"unix"],
    "newline-per-chained-call": 0,
    "class-methods-use-this": 0,
    "consistent-return": 0,
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "never"],
    "function-paren-newline": 0,
    "func-names": ["warn", "as-needed"],
    "global-require": 0,
    "jsx-quotes": [2, "prefer-double"],
    "max-len": ["warn", {
      "code": 200,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }],
    "no-confusing-arrow": 0,
    "no-console": [1, { "allow": ["info", "error"] }],
    "no-plusplus": 0,
    "react/forbid-prop-types": ["warn", {"forbid": ["any"]}],
    "react/require-default-props": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
