.practiceProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-fixed;
  height: calc(#{$spacer} / 2);
  background-color: $color-purple-400;
  opacity: 0;
  transition: width 0.5s ease, opacity 0.5s ease;

  &--open {
    opacity: 1;
  }
}
