.sampleBoard {
  display: flex;
  font-size: 18px;
  color: $color-grey-500;
  flex-direction: column;
  user-select: none;
  background: $color-grey-500;
  border: 2px solid $color-grey-600;
  outline: none;

  &--focus {
    background: $color-white;
    border: 2px solid $color-primary-main;
  }

  &__userInput {
    position: absolute;
    pointer-events: none;
    resize: none;
    user-select: none;
    outline: none;
    opacity: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__sample {
    position: relative;
    flex: 0 1 800px;
    padding: 10px;
    margin: auto;
  }
}
