@import 'custom-properties.scss';
// Colors
// ==================================================

// Greytones

$color-black: var(--color-black);
$color-white: var(--color-white);
$color-transparent: var(--color-transparent);

$color-grey-50: var(--color-grey-50);
$color-grey-100: var(--color-grey-100);
$color-grey-200: var(--color-grey-200);
$color-grey-300: var(--color-grey-300);
$color-grey-400: var(--color-grey-400);
$color-grey-500: var(--color-grey-500);
$color-grey-600: var(--color-grey-600);
$color-grey-700: var(--color-grey-700);
$color-grey-800: var(--color-grey-800);
$color-grey-900: var(--color-grey-900);
$color-grey-A100: var(--color-grey-A100);
$color-grey-A200: var(--color-grey-A200);
$color-grey-A400: var(--color-grey-A400);
$color-grey-A700: var(--color-grey-A700);

// Red
$color-red-50: var(--color-red-50);
$color-red-100: var(--color-red-100);
$color-red-200: var(--color-red-200);
$color-red-300: var(--color-red-300);
$color-red-400: var(--color-red-400);
$color-red-500: var(--color-red-500);
$color-red-600: var(--color-red-600);
$color-red-700: var(--color-red-700);
$color-red-800: var(--color-red-800);
$color-red-900: var(--color-red-900);

// Green
$color-green-50: var(--color-green-50);
$color-green-100: var(--color-green-100);
$color-green-200: var(--color-green-200);
$color-green-300: var(--color-green-300);
$color-green-400: var(--color-green-400);
$color-green-500: var(--color-green-500);
$color-green-600: var(--color-green-600);
$color-green-700: var(--color-green-700);
$color-green-800: var(--color-green-800);
$color-green-900: var(--color-green-900);

// Teal
$color-teal-50: var(--color-teal-50);
$color-teal-100: var(--color-teal-100);
$color-teal-200: var(--color-teal-200);
$color-teal-300: var(--color-teal-300);
$color-teal-400: var(--color-teal-400);
$color-teal-500: var(--color-teal-500);
$color-teal-600: var(--color-teal-600);
$color-teal-700: var(--color-teal-700);
$color-teal-800: var(--color-teal-800);
$color-teal-900: var(--color-teal-900);

// Orange
$color-orange-50: var(--color-orange-50);
$color-orange-100: var(--color-orange-100);
$color-orange-200: var(--color-orange-200);
$color-orange-300: var(--color-orange-300);
$color-orange-400: var(--color-orange-400);
$color-orange-500: var(--color-orange-500);
$color-orange-600: var(--color-orange-600);
$color-orange-700: var(--color-orange-700);
$color-orange-800: var(--color-orange-800);
$color-orange-900: var(--color-orange-900);

// Purple
$color-purple-50: var(--color-purple-50);
$color-purple-100: var(--color-purple-100);
$color-purple-200: var(--color-purple-200);
$color-purple-300: var(--color-purple-300);
$color-purple-400: var(--color-purple-400);
$color-purple-500: var(--color-purple-500);
$color-purple-600: var(--color-purple-600);
$color-purple-700: var(--color-purple-700);
$color-purple-800: var(--color-purple-800);
$color-purple-900: var(--color-purple-900);

// Blue
$color-blue-50: var(--color-blue-50);
$color-blue-100: var(--color-blue-100);
$color-blue-200: var(--color-blue-200);
$color-blue-300: var(--color-blue-300);
$color-blue-400: var(--color-blue-400);
$color-blue-500: var(--color-blue-500);
$color-blue-600: var(--color-blue-600);
$color-blue-700: var(--color-blue-700);
$color-blue-800: var(--color-blue-800);
$color-blue-900: var(--color-blue-900);

$color-primary-main: var(--color-primary-main);
$color-primary-contrast: var(--color-primary-contrast);
$color-secondary-main: var(--color-secondary-main);
$color-error-main: var(--color-error-main);
$color-error-contrast: var(--color-error-contrast);

// TEXT
// ==================================================

$text-color-primary: var(--text-color-primary);
$text-color-secondary: var(--text-color-secondary);
$text-color-disabled: var(--text-color-disabled);
$text-color-hint: var(--text-color-hint);

$text-color-inverse-primary: var(--text-color-inverse-primary);
$text-color-inverse-secondary: var(--text-color-inverse-secondary);
$text-color-inverse-disabled: var(--text-color-inverse-disabled);
$text-color-inverse-hint: var(--text-color-inverse-hint);

$text-color-danger: var(--text-color-danger);

$font-family: var(--font-family);
$font-family-fa: var(--font-family-fa);
$font-family-alternative: var(--font-family-alternative);

$line-height-small: var(--line-height-small);
$line-height-default: var(--line-height-default);
$line-height-big: var(--line-height-big);
$line-height-large: var(--line-height-large);

$font-size-default: var(--font-size-default);
$font-size-small: var(--font-size-small);
$font-size-big: var(--font-size-big);

// spacing
$spacer: var(--spacer);

$border-radius-small: var(--border-radius--small);
$border-radius: var(--border-radius);
$border-radius-big: var(--border-radius-big);

$z-index-zero: var(--z-index-zero);
$z-index-up: var(--z-index-up);
$z-index-down: var(--z-index-down);
$z-index-loader: var(--z-index-loader);
$z-index-dropdown: var(--z-index-dropdown);
$z-index-fixed: var(--z-index-fixed);
$z-index-sticky: var(--z-index-sticky);
$z-index-modal-backdrop: var(--z-index-modal-backdrop);
$z-index-modal: var(--z-index-modal);
$z-index-popover: var(--z-index-popover);
$z-index-tooltip: var(--z-index-tooltip);

// KEYBOARD
// ==================================================

$keyboard-key-width: var(--keyboard-key-width);
$keyboard-key-height: var(--keyboard-key-height);
$keyboard-keyboard-width: var(--keyboard-keyboard-width);
$keyboard-keyboard-height: var(--keyboard-keyboard-height);

$keyboard-key-padding-x: var(--keyboard-key-padding-x);
$keyboard-keyPadding-y: var(--keyboard-keyPadding-y);
$keyboard-key-bg-width: var(--keyboard-key-bg-width);
$keyboard-key-bg-height: var(--keyboard-key-bg-height);

$keyboard-d-row-shift: var(--keyboard-d-row-shift);
$keyboard-c-row-shift: var(--keyboard-c-row-shift);
$keyboard-b-row-shift: var(--keyboard-b-row-shift);
$keyboard-a-row-shift: var(--keyboard-a-row-shift);
$keyboard-r-x: var(--keyboard-r-x);
$keyboard-r-y: var(--keyboard-r-y);
$keyboard-key-label-x: var(--keyboard-key-label-x);
$keyboard-key-label-y: var(--keyboard-key-label-y);
