// TODO - double-check, moved
.TypewriterBoard {
  position: relative;
  color: @white;
  background: @gray-2;

  &__keyboard {
    display: flex;
    min-height: 200px;
    max-height: calc(100vh - 160px);
    flex-direction: column;
  }
}
// TODO - double-check, moved

.PracticeText {
  display: flex;
  font-size: 18px;
  color: @gray-5;
  flex-direction: column;
  user-select: none;
  background: @gray-2;

  border: @border-width-base @border-style-base @input-border-color;
  border-radius: @border-radius-base;
  outline: none;

  &--focus {
    background: @white;
    border-color: @primary-color;
    box-shadow: @input-outline-offset @outline-blur-size @outline-width
      fade(@primary-color, 20);
  }

  &__userInput {
    position: absolute;
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100%;
    min-height: 0;
    max-height: none;
    resize: none;
    outline: none;
    opacity: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__lessonContent {
    position: relative;
    padding: 10px;
    margin: auto;
    flex: 0 1 800px;
  }
}
