// TODO - double-check, moved
.TypewriterBoard {
  position: relative;
  color: $text-color-inverse-primary;
  background: $color-grey-200;

  &__keyboard {
    display: flex;
    min-height: 200px;
    max-height: calc(100vh - 160px);
    flex-direction: column;
  }
}
// TODO - double-check, moved

.PracticeText {
  display: flex;
  font-size: 18px;
  color: $color-grey-500;
  flex-direction: column;
  user-select: none;
  background: $color-grey-200;
  border: 2px solid $color-grey-300;
  outline: none;

  &--focus {
    background: $color-white;
    border: 2px solid $color-primary-main;
  }

  &__userInput {
    position: absolute;
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100%;
    min-height: 0;
    max-height: none;
    resize: none;
    outline: none;
    opacity: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__lessonContent {
    position: relative;
    flex: 0 1 800px;
    padding: 10px;
    margin: auto;
  }
}
