@fontSize: 28px;
@rowHeight: 44px; // keep it sync with ROW_HEIGHT
@numberOfRows: 3; // keep it sync with FOCUSED_ROW_INDEX
@wrapperPadding: 8px;
@practiceTextHeight: @rowHeight * @numberOfRows + @wrapperPadding * 2;

@import './PracticeTextChar/PracticeTextChar.less';
@import './RenderPracticeRows/RenderPracticeRows.less';
@import './PracticeProgressBar/PracticeProgressBar.less';

// TODO - double-check, moved
.TypewriterBoard {
  position: relative;
  color: @white;
  background: @gray-2;

  &__desk {
    direction: ltr; // right hand should be on right, left on the left side regardless of language
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__hand {
    display: flex;
    max-width: 250px;
    max-height: calc(100vh - 160px);
    flex-direction: column;
    flex: 1 1 250px;

    .finger {
      fill: @white;
    }
  }

  &__keyboard {
    direction: inherit;
    min-height: 200px;
    max-height: calc(100vh - 160px);
  }
}
// TODO - double-check, moved

.PracticeText {
  display: flex;
  color: @gray-5;
  flex-direction: column;
  user-select: none;
  background: @white;

  border: @border-width-base @border-style-base @input-border-color;
  border-radius: @border-radius-base;
  outline: none;

  &--focus {
    border-color: @primary-color;
    box-shadow: @input-outline-offset @outline-blur-size @outline-width
      fade(@primary-color, 20);
  }

  &__exploreHelper,
  &__clickHelper {
    position: absolute;
    // width: 100%;
    // height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    color: @gray-5;
    background: @gray-2;
    align-items: center;
    justify-content: center;
  }

  &__exploreHelper {
    background: @white;
  }

  &__userInput {
    position: absolute;
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100%;
    min-height: 0;
    max-height: none;
    resize: none;
    outline: none;
    opacity: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    height: @practiceTextHeight;
    padding: @wrapperPadding;
    overflow: hidden;
  }

  &__lessonContent {
    position: relative;
    margin: auto;
    font-size: @fontSize;
    // stylelint-disable property-disallowed-list
    line-height: @rowHeight;
    flex: 0 1 800px;
    transition: 1s margin-top ease-in-out;
  }
}
