.header {
  overflow: hidden;
  color: $color-white;
  background-color: $color-grey-800;

  &__container {
    display: flex;
  }

  &__siteTitle {
    display: flex;
    align-self: stretch;
    align-items: center;
  }

  &__menu {
    margin-inline-start: calc(#{$spacer} * 2);
  }

  &__userMenu {
    margin-inline-start: auto;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;

  &__item {
    padding: $spacer;
    color: $color-white;

    &--active {
      background: $color-grey-900;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
