.languageSwitcher {
  margin: $spacer 0;
  border-bottom: 1px solid $color-grey-500;

  &__list {
    display: flex;
    padding: $spacer 0;
    margin: 0;
  }

  &__item {
    display: flex;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      color: $color-white;
    }

    &--active {
      &,
      &:hover {
        color: $color-grey-100;
        cursor: default;
      }
    }
  }
}
