.languageSwitcher {
  &__list {
    padding: $spacer;
    margin: 0;
    flex-wrap: wrap;
    column-count: 3;
  }

  &__item {
    display: block;
    line-height: $line-height-large;
    color: $color-primary-main;
    cursor: pointer;

    &:hover {
      color: $text-color-primary;
    }
  }

  &__currentLocale {
    margin: 0 calc(#{$spacer} * 2);
  }

  .fa-language {
    transform: scale(1.6);
  }
}
