@import "../../variables.scss";

.key {
  & text {
	  cursor: default;
  }

  /* also called keytop */
  &__labels {
    fill: $grayDark;
    font-size: 36;
  }

  &__label {
    &.transform {
      display: none;
    }

    &.hidden {
      display: none;
    }
  }


  &__bg {
    stroke: $grayLighter;
    stroke-width: 5px;
    fill: $white;
  }

  /* variant */
  &.alpha {

    & .key__to {
      display: none;
    }

    & .key__bg {
      fill: $yellow;
    }
  }

  /* status */
  &.toWrite {

    & .key__bg {
      fill: $blue;
    }

    &.secondary {
      & .key__bg {
        fill: $teal;
      }
    }
  }

  &.correct {
    & .key__bg {
      stroke: $green;
    }
  }

  &.error {
    & .key__bg {
      stroke: $red;
    }
  }

  &.missed {
    & .key__bg {
      stroke: $orange;
    }
  }

}

.key__svg {
  width: $keyWidth;
}
