// stylelint-disable declaration-no-important
.keyboard {
  border-radius: 0;
}

.Backspace text {
  font-size: 46px !important;
  transform: translate(80px, 4px);
}

.Tab text {
  font-size: 46px !important;
  transform: translate(4px, 4px);
}

.CapsLock {
  position: relative;
}

.CapsLock text {
  font-size: 24px !important;
  transform: translate(36px, 0);
}

.ShiftLeft text,
.ShiftRight text {
  font-size: 46px !important;
  transform: translate(0, 10px);
}

.ShiftRight text {
  transform: translate(66px, 10px);
}

.ControlLeft text,
.WakeUp text,
.OSLeft text,
.AltLeft text,
.AltRight text,
.OSRight text,
.A10 text,
.A11 text,
.ControlRight text {
  font-size: 24px !important;
}

.ControlRight text {
  transform: translate(58px, 0);
}

.Enter text {
  font-size: 48px !important;
}
