.cookieConsent {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-index-fixed;
  display: flex;
  width: 100%;
  padding: $spacer calc(#{$spacer} * 2);
  background: $color-white;
  border-top: 1px solid $color-grey-300;
  box-shadow: rgba(0, 0, 0, 0.5) 0 8px 10px 5px;
  flex-wrap: wrap;
  justify-content: space-between;

  &__desc {
    display: flex;
    align-items: center;
  }
}
